.footer-content
  .followus
    %h1.followus-title Don't forget to follow
    .tweet
      %h1.tweet-title 
        <a href="https://twitter.com/betterfrontend" class="twitter-follow-button" data-show-count="false">Follow @betterfrontend</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        
      %p.tweet-text#js-footer-tweet
  .buzz
    %h1.buzz-title Buzz
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'search',
        search: 'betterfrontend',
        interval: 30000,
        title: 'betterfrontend buzz',
        subject: '',
        width: 'auto',
        height: 200,
        theme: {
          shell: {
            background: '#232323',
            color: '#ffffff'
          },
          tweets: {
            background: '#232323',
            color: '#fff',
            links: '#2BA6CB'
          }
        },
        features: {
          scrollbar: false,
          loop: true,
          live: true,
          behavior: 'default'
        }
      }).render().start();

  .events
    %h1.events-title Events
    %strong No upcoming events. 
    %br/
    %br/
    <a href="https://twitter.com/intent/tweet?screen_name=betterfrontend&text=Would%20like%20to%20book%20someone" class="twitter-mention-button" data-lang="en" data-related="dfischer">Book someone @betterfrontend</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    %h2.events-past-title Past Events
    %article.event
      .event-date
        .event-date-day 12 
        .event-date-month Jul
      .event-details
        %h1.event-title LA Ruby
        %h2.event-location Santa Monica, CA
    %article.event
      .event-date
        .event-date-day 6 
        .event-date-month Jun
      .event-details
        %h1.event-title Magmarails
        %h2.event-location Manzanillo, Mexico
