body {
  position: relative;
  &.index {
    .page-content .post {
      @include column(12);
    }
  }
}

pre {
  @include border-radius(4px);
  @include box-shadow(#A89A7a 0px 1px 1px inset, white 0px 1px 0px);
  background: #f8f8f8;
  padding: .5em 1em;
  margin: 1.5em 0;
  overflow: auto;

  code {
    background: #f8f8f8;
  }
}

.page-header {
  @include outerRow();
  @include mobileRow();

  margin-bottom: 60px;
  margin-top: 40px;

  .brand {
    @include column(4);
    @include mobileColumn(2);
  }
}

.page-nav {
  @include column(8);
  @include mobileColumn(2);

  .nav-links {
    float: right;
    margin-top: 10px;

    a {
      font-size: ms(2);
    }
  }
}

.page-content {
  @include outerRow();
  @include mobileRow();

  .post {
    @include column(9);
    @include mobileColumn(4);
  }

  .secondary {
    @include column(3);
    @include mobileColumn(4);

    background: $color-red;
    color: #fff;

    a {
      color: #fff;
      font-weight: bold;
    }

    h1 {
      background-color: $color-black;
      font-size: ms(3);
      margin-left: -$columnGutter / 2;
      margin-right: -$columnGutter / 2;
      padding: 5px 0px;
      padding-left: $columnGutter / 2;
      padding-right: $columnGutter / 2;
    }

    h2 {
      font-size: ms(2);
    }

    li {
      list-style: none;
      margin-bottom: 5px;
    }

    .create-issue {
      display: block;
      font-weight: bold;
      margin: 10px 0px;
    }
  }
}

.page-footer {
  background: #232323;
  color: #fff;
  margin-top: 30px;
  width: 100%;
  &.sticky {
    bottom: 0px;
    position: fixed;
  }

  .footer-content {
    @include outerRow();
  }

  .events {
    float: right;

    .events-title {
      font-size: ms(3);
    }

    .events-past-title {
      font-size: ms(2);
    }
  }

  .followus {
    @include column(4);
  }

  .followus-title {
    font-size: ms(3);
  }

  .tweet-title {
    font-size: ms(1);
  }

  .tweet-text {
    font-size: ms(0);
  }
}

.tout {
  background: url("/images/tout-shadow.png") no-repeat center 170px;
  margin: 0px auto 60px;
  padding-bottom: 30px;
  text-align: center;
  width: 650px;

  .tout-title {
  }

  .tout-subtitle {
    color: $color-red;
    font-weight: normal;
  }
}

.whatis {
  @include innerRow();

  display: none;

  .intro {
    @include column(7);
  }

  .intro-title, .events-title {
    color: $color-red;
    font-size: ms(4);
  }

}

.events {
  @include column(3);
  @include offsetBy(2);

  .event-date {
    background-color: $color-red;
    color: #fff;
    float: left;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
  }

  .event-date-day {
    font-size: ms(3);
    font-weight: bold;
  }

  .event-date-month {
    font-size: ms(1);
  }

  .event-details {
    float: left;
  }

  .event-location {
    font-size: ms(1);
    margin-top: 0px;
  }

  .event-title {
    font-size: ms(2);
    margin-bottom: 3px;
    margin-top: 0px;
  }
}

.social-links {
  margin: 0px auto 60px;
  width: 217px;

  .social-twitter,
  .social-github {
    float: left;
  }
}

.read-guide {
  margin: 0px auto 50px;
  width: 425px;

  .read-more-link {
    color: #888;
  }

  .read-guide-link {
    @extend .button;
    @extend .round;
    @extend .large;
  }
}

.highlight {
  background: none;
}
