.tout
  %h1.tout-title Where do I go for front-end development best-practices?
  %h2.tout-subtitle We need #betterfrontend
 
%section.whatis
  .intro
    %h1.intro-title What is #betterfrontend?
    %p #betterfrontend is a movement to make front-end development easier for everyone. Front-End Development is hard to do properly because there isn't a standardized way of doing it. #betterfrontend aims to be a collaborative contribution through a community of developers to create best-practices for front-end development.
  .events
    %h1.events-title Upcoming Events
    %article.event
      %h1.event-title Dreamatoriium
      %h2.event-location Dallas, TX

