.social-links
  .social-twitter
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out #betterfrontend - Let's make front-end development consistent!" data-via="betterfrontend" data-related="dfischer" data-hashtags="betterfrontend">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

.tout
  %h1.tout-title Front-End Development lacks consistent best-practices.
  %h2.tout-subtitle We need #betterfrontend

.read-guide
  = link_to "Read the Guides", '/guides/', :class => 'read-guide-link'
  .read-more
    or
    = link_to "read more about #betterfrontend", '/about/', :class => 'read-more-link'
  .read-more-mobile
    = link_to "read more about #betterfrontend", '/about/', :class => 'read-more-link'
